.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2 rem;
  width: 136%;
  margin-left: -91px;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2 rem;
  width: 136%;
  margin-left: -91px;
}

img {
  width: 69%;
  object-fit: cover;
  height: 40vh;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 0.8rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.input {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 7px 73px;
  border-radius: 9px;
  font-size: 21px;
  text-align: center;
}

.recommendButton {
  display: flex;
  margin: auto;
  margin-top: 11px;
  margin-bottom: 30px;
}

.filter-container{
  margin-left: -94px;
}

.filter-container button{
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button.active{
  background: rgb(9, 124, 114);
  color: black;
}